/*******Bringing in Antonio fonts*******/
@font-face {
    font-family: Antonio;
    src: url(fonts/Antonio-Regular.ttf);
}

@font-face {
    font-family: AntonioLight;
    src: url(fonts/Antonio-Light.ttf);
}

@font-face {
    font-family: AntonioBold;
    src: url(fonts/Antonio-Bold.ttf);
}

.antonio-font {
	font-family: Antonio;
}

.antonio-light-font {
	font-family: AntonioLight;
}

.antonio-bold-font {
	font-family: AntonioBold;
}
/***************************************/



/************ Navbar related ************/

nav.nav-center ul {
	text-align: center;
}

nav.nav-center ul li {
	display: inline;
	float: none;
}

nav.nav-center ul li a {
	display: inline-block;
}

.nav-font-size li a {
	font-size: 25px;
}

.nav-item{
	margin-right: 4rem;
}
/***************************************/

.space-out-letters {
	letter-spacing: 3px;
}

.top-parallax {
	position: relative;
	text-align: center;
	color: white;
}

.marquee-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-in-parallax {
	position: absolute;
}

.top-social-icons {
	position: absolute;
	top: 90%;
	left: 43%;
}

.socials-container {
	width: 100%;
}

.social-footer-icon {
	color: white;
	margin-right: 2rem;
}

.turn-it-white {
	color: white;
}

.subtext {
	font-size: 23px;
}

.beer-details {
	font-family: Antonio;
	font-size: 25px;
}

.beer-description {
	font-family: Antonio;
	font-size: 20px;
}

.card {
	max-width: 500px;
}

.insta-photo {
	width: 100%;
}

.remove-padding {
	padding: 0px !important;
}

#instafeed {
	margin: 0px;
	padding: 0px;
}

.hours-container {
	width: 50%;
	margin: 0 auto;
}

#hours-table tr td {
	text-align: center;
	font-size: 22px;
}

.align-right {
	text-align: right;
}

#instafeed .col {
	margin-bottom: -7px !important;
}

.main-logo {
	width: 70%;
}
